.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
  padding: 0px 10px;
  height: 180px;
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}

/* Custom Header CSS */
.wrapper--top-header-sales{
  color: #FDBF00;
}

.strong--announce-header{
  color: #FFFFFF;
}

.container--announce-header{
  padding-left: 30px;
}

.container--shelfTitle{
  justify-content: left;
  text-align: left;
}

.heading--shelfTitle{
  color: #000000;
  font-size: 32px;
  font-weight: 700;
}

.paragraph--footerTitle{
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 0;
  padding-bottom: 20px;
  margin: 10px 0;
}

.paragraph--footer{
  color: #000000;
  font-size: 14px;
}

.heading--deals{
  color: #045DB5;
}

.paragraph--deals{
  color: #000000;
}

.paragraph--metodos-pago-text, .paragraph--redes-sociales-text{
  color: #FFFFFF;
  font-size: 14px;
  margin-right: 20px;
}

.paragraph--pago-asegurado{
  font-size: 12px;
  color: #000000;
  font-weight: 600;
}

.paragraph--announce-header-1, .paragraph--announce-header-2, .paragraph--announce-header-3{
  color: #FFFFFF;
  font-size: 17px;
}

.heading--lo-mas-buscado-text-1, .heading--lo-mas-vendido-text-1{
  color: #000000;
  font-size: 32px;
  font-weight: 700;
}

.heading-level-5{
  font-size: 32px;
  font-weight: 700;
  color: #131246;
}

.heading--privacidad-title{
  color: #000000;
}

.container--phone-icon-text, .container--mail-icon-text{
  border: 1px solid #1E4BA8;
  padding: 0 60px;
  margin-left: 50px;
  color: #1E4BA8;
  position: relative;
}

.paragraph--phone-icon-text{
  line-height: 0.7;
}

.container--phone-icon-text::after{
  content: url('assets/icons/phone.svg');
  position: absolute;
  width: 24px;
  top: 10px;
  left: 20px;
}

.container--mail-icon-text::after{
  content: url('assets/icons/mail.svg');
  position: absolute;
  width: 24px;
  top: 10px;
  left: 20px;
}


.wrapper--cambios-texto-card-title :global(.vtex-rich-text-0-x-heading), .wrapper--entrega-title :global(.vtex-rich-text-0-x-heading){
  margin: 0;
  font-size: 20px;
}

.wrapper--cambios-texto-card-title :global(.vtex-rich-text-0-x-paragraph){
  font-size: 18px;
  font-weight: 600;
}

.paragraph--footer-horarios{
  font-size: 16px;
  color: #FFFFFF;
  margin: 0;
}

.link--footer-email{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
}